<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comments Index</title>
  </head>
  <body>
    <h2>All comments</h2>
    <ul>
      <% for( let c of comments ) { %>
      <li>
        <%= c.comment %> - <i><b><%=c.username %></b></i>
        <a href="/comments/<%= c.id %>">see more</a>
      </li>
      <% } %>
    </ul>
  </body>
  <a href="/comments/new">Add new comment</a>
</html>
