<%- include('components/head')%>
<body>
  <%- include('components/navbar')%>
  <div class="container">
    <h1>Home page</h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem repellat
      tempora aliquid voluptate, placeat et aperiam molestias quam dolor!
      Aspernatur ducimus ea molestias assumenda in nihil quis dicta rem minus?
      Nisi reprehenderit vero consectetur suscipit, sunt modi, quod ipsam velit
      necessitatibus quo voluptatem. Natus aut similique, quam fugiat assumenda
      ab et amet tenetur totam eos omnis ipsam rerum nobis provident!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni,
      voluptatum? Cupiditate illum quis quam modi possimus nulla, distinctio
      tempore qui impedit hic commodi eius facere in odio non! Vero, atque?
    </p>
  </div>
</body>
<%- include('components/footer')%>
